
.bellow-hdr{
    background-color: #800000;
    width: 100%;
    height: 50px;
}

.bellow-hdr h3{
    text-align: center;
    color: white;
    padding:10px 0px ;
}

.id{
    display: flex;
    text-align: center;
    margin-left: 20%;
    margin-top: 2%;
    gap: 50px;
}

.prod-details{
    margin-top: 2%;
    margin-left: 1.5%;
}
.prod-details h1{
    color: #800000;
}
