*{    
    font-family: Arial, Helvetica, sans-serif , "Papyrus" ;   
}

.above-hdr{
    background-color:#800000;
    width: 100%;
    height: 25px;
}

.hdr {
    display: flex; 
    align-items: center; 
    background-color: #f5f5f5; 
    padding: 10px; 
    cursor: pointer;
}
.hdr h1{
    text-align: center;
}

.hdr h1:hover{
    background-color: #800000;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.hdr-icons{
    margin-right: 5%;
    font-size: 20px;
    display: flex;
}

.home-page img{
    width: 100%;
    height: 700px;
}

.home-pg-flex{
    display: flex;
    text-align: center;
    margin-left: 12%;
    margin-top: 1%;
    gap: 50px;
}

.home-pg-flex-heading h2{
    text-align: center;
    padding-top: 50px;
    margin-top: 2%;
}

.home-pg-flex-heading{
    background-color: rgb(165, 15, 15);
}



/* pic size increasing starts here*/
.home-pg-flex-heading .card {
    transition: transform 0.3s ease; /* Smooth transition */
}   
.home-pg-flex-heading .card:hover {
    transform: scale(1.05); /* Enlarges image on hover */
}
/* pic size increasing ends here*/


.home-pg-flex-2{
    text-align: center;
    display: flex;
    gap: 10px;
}



/* pic size increasing starts here*/
.home-pg-flex-2 .card {
    transition: transform 0.3s ease; /* Smooth transition */
}   
.home-pg-flex-2 .card:hover {
    transform: scale(1.05); /* Enlarges image on hover */
}
/* pic size increasing ends here*/



/* pic size reducing starts here*/
.btm-img img:hover {
    transition: transform 0.5s ease;
    transform: scale(0.95); /* reduces image on hover */
}
/* pic size reducing ends here*/



footer table{

    text-align: center;
    margin-top: 3%;
    width: 30%;
    margin-left: 35%;
}

footer{
    background-color: beige ;
}



